body {
    background-color:paleturquoise;
}
div{
    border:2px;
}
.display {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: baseline;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 20px;
}
#title {
    border: groove;
    border-color: black;
    padding-top: 5px;
    padding-left: 10px;
}
}
#body {
    border: groove;
    border-color: black;
}
#topics {
    border: groove;
    border-color: black;
}
header {
    margin-left: 5%;
}